@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #1e1e1e;
  --secondary-color: #ffffff;
  --tertiary-color: #e9dcff;
}

* {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 50px 100px;
}

.nav-bar img {
  height: 50px;
}

ul.nav-links {
  color: var(--secondary-color);
  display: flex;
  list-style: none;
  gap: 40px;
}

ul.nav-links li {
  cursor: pointer;
  transition: all 0.3s ease;
}

ul.nav-links li:hover {
  color: var(--tertiary-color);
}

.login-signup {
  display: flex;
  gap: 10px;
}

.login-btn,
.signup-btn {
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: var(--tertiary-color);
}

.login-btn:hover,
.signup-btn:hover {
  background-color: #bba3e3;
}

.contents {
  height: max-content;
  width: 100%;
  padding: 0px 100px 50px 100px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.promote-word .subTitle {
  color: var(--tertiary-color);
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 4px;
  font-size: 12px;
  opacity: 80%;
}

.contents .title {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 10px;
}

.download-btn {
  display: flex;
  border: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--tertiary-color);
  gap: 10px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  padding: 15px 25px;
  transition: all 0.3s ease;
}

.download-btn:hover {
  background-color: #bba3e3;
}

.downloadIcon {
  border-radius: 50%;
  border: 3px solid #000000;
  padding: 1px;
  display: flex;
  background-color: var(--tertiary-color);
  align-items: center;
  justify-content: center;
}

.downloadIcon i {
  background: transparent;
  font-size: 16px;
  font-weight: 700;
}

.contents img {
  width: 40%;
}
