@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Fahkwang", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --normal-font: 14px;
  --big-font: 40px;
  --small-font: 12px;
}

.thammasat_Logo {
  width: 90px;
  height: 90px;
}

nav {
  width: 100%;
  height: 110px;
  /* background-color: gray; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 0 50px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 5px -2px;
}

.logo_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a51931;
  z-index: 999999;
  height: 190%;
  padding: 5px 15px;
}

.logo_SubContainer {
  position: relative;
  top: 25px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo_SubContainer p {
  text-align: center;
  color: #ffffff;
}

ul.nav_Menu {
  display: flex;
  list-style: none;
  gap: 30px;
}

ul.nav_Menu li {
  font-size: var(--normal-font);
  color: #a51931;
  cursor: pointer;
  transition: color 0.3s ease;
}

ul.nav_Menu li:hover {
  color: #000000;
}

ul.nav_Menu li i {
  font-size: var(--normal-font);
  margin-left: 5px;
}

.language_Switcher {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: #fcb66a;
  list-style: none;
  width: 102px;
  height: 40px;
  border-radius: 20px;
}

.th_Lang a {
  margin-left: 3px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 36px;
  width: 48px;
  height: 36px;
  border-radius: 50rem;
}

.eng_Lang a {
  margin-right: 3px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
  background-color: transparent;
  color: #000000;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 36px;
  width: 48px;
  height: 36px;
  border-radius: 50rem;
}

.hidden {
  display: none;
}

.toggle-container input {
  display: none;
}

/* Drop down 1 */

.dropDown1 {
  z-index: 9999;
  position: absolute;
  z-index: 9999;
  top: 80px;
  left: 212px;
  background-color: #000000;
  width: max-content;
  padding: 20px;
  border-radius: 16px;
}

.dropDown1_Link {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.dropDown1 li {
  cursor: pointer;
  list-style: none;
  padding: 10px 5px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.dropDown1 li:hover {
  background-color: #21262c;
}

.dropDown1 li a {
  font-size: var(--normal-font);
  text-decoration: none;
  color: #ffffff;
}

/* Drop Down 2 */
.dropDown2 {
  z-index: 9999;
  position: absolute;
  top: 80px;
  left: 435px;
  background-color: #000000;
  width: max-content;
  padding: 20px;
  border-radius: 16px;
}

.dropDown2_Link {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.dropDown2 li {
  cursor: pointer;
  list-style: none;
  padding: 10px 5px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.dropDown2 li:hover {
  background-color: #21262c;
}

.dropDown2 li a {
  font-size: var(--normal-font);
  text-decoration: none;
  color: #ffffff;
}

/* Drop Down 3 */
.dropDown3 {
  z-index: 9999;
  position: absolute;
  top: 80px;
  left: 590px;
  background-color: #000000;
  width: max-content;
  padding: 20px;
  border-radius: 16px;
}

.dropDown3_Link {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.dropDown3 li {
  cursor: pointer;
  list-style: none;
  padding: 10px 5px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.dropDown3 li:hover {
  background-color: #21262c;
}

.dropDown3 li a {
  font-size: var(--normal-font);
  text-decoration: none;
  color: #ffffff;
}

/* Drop Down 4 */
.dropDown4 {
  z-index: 9999;
  position: absolute;
  top: 80px;
  left: 695px;
  background-color: #000000;
  width: max-content;
  padding: 20px;
  border-radius: 16px;
}

.dropDown4_Link {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.dropDown4 li {
  cursor: pointer;
  list-style: none;
  padding: 10px 5px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.dropDown4 li:hover {
  background-color: #21262c;
}

.dropDown4 li a {
  font-size: var(--normal-font);
  text-decoration: none;
  color: #ffffff;
}

/* Drop Down 5 */
.dropDown5 {
  z-index: 9999;
  position: absolute; /* Change from relative to absolute */
  top: 80px; /* Adjust as needed to position it correctly */
  left: 600px;
  background-color: #000000;
  width: max-content;
  padding: 20px;
  border-radius: 16px;
}

.dropDown5_Link {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.dropDown5 li {
  cursor: pointer;
  list-style: none;
  padding: 10px 5px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.dropDown5 li:hover {
  background-color: #21262c;
}

.dropDown5 li a {
  font-size: var(--normal-font);
  text-decoration: none;
  color: #ffffff;
}

.mainContent {
  display: flex;
}

.loginSide {
  width: 400px;
  flex-shrink: 0; /* Prevent shrinking */
  height: 100vh;
  background: linear-gradient(#7c0a02 57%, #b22222 95%);
  display: flex;
  justify-content: center;
}

.login {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  height: max-content;
  /* border: 1px solid #000000; */
  position: absolute;
  top: 270px;
  gap: 10px;
}

.loginHeader {
  font-size: 25px;
  color: #fff4e0;
  margin-bottom: 20px;
}

.usernameForm,
.passwordForm {
  /* border: 1px solid #000000; */
  height: 55px;
  width: 300px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #fae3d7;
  margin-bottom: 10px;
}

.usernameForm i,
.passwordForm i {
  margin-left: 15px;
  font-size: 25px;
  color: #b22222;
}

.usernameForm input,
.passwordForm input {
  border-radius: 16px;
  height: 55px;
  width: 300px;
  border: none;
  padding-right: 10px;
  background-color: transparent;
}

.usernameForm input::placeholder,
.passwordForm input::placeholder {
  color: #1d1212;
}

.usernameForm input:focus,
.passwordForm input:focus {
  outline: none;
}

.loginChangePassBtn {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid #000000; */
  width: 300px;
  margin-bottom: 20px;
}

.loginbtn,
.changePassbtn {
  width: 145px;
  height: 45px;
  padding: 10px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.loginbtn {
  background-color: #ffc340;
}

.loginContactText {
  text-align: center;
  color: #fff4e0;
  font-size: var(--small-font);
}

.loginContactText span a {
  color: #f1bc31;
}

.pictureSide {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensure sliding stays within bounds */
  position: relative; /* For positioning images absolutely */
}

.pictureSide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute; /* Stack images on top of each other */
  transition: transform 0.5s ease-in-out; /* Smooth sliding effect */
}

.newsPage {
  padding: 70px 50px;
}

.newsTopSection {
  /* border: 1px solid black; */
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newsTopSection h1 {
  font-size: var(--big-font);
}

.moreNews {
  font-size: var(--normal-font);
  background-color: #ffc340;
  cursor: pointer;
  border: none;
  width: 100px;
  padding: 10px;
  border-radius: 100px;
  transition: all 0.3s ease;
  text-align: center;
}

.moreNews:hover {
  background-color: #ffae00;
}

.newsContents {
  display: flex;
  gap: 25px;
  width: 100%;
  /* border: 1px solid #000000; */
}

.newsLeftSide {
  flex: 1;
  /* border: 1px solid #000000; */
}

.newsRightSide {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
  /* border: 1px solid #000000; */
}

.newsLeftSide img {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 15px;
}

.news1Title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.news1Date {
  font-size: var(--small-font);
  color: #989797;
  margin-bottom: 15px;
}

.news1Content {
  font-size: var(--normal-font);
}

.news2Container,
.news3Container,
.news4Container {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 20px;
  /* border: 1px solid red; */
}

.news2Text,
.news3Text,
.news4Text {
  flex: 1;
}

a.news2Title,
a.news3Title,
a.news4Title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
  display: block;
  color: #000000;
  transition: color 0.3s ease;
  text-decoration: none;
}

.news2Title:hover,
.news3Title:hover,
.news4Title:hover {
  color: #a51931;
}

.news2Date,
.news3Date,
.news4Date {
  font-size: var(--small-font);
  color: #989797;
}

.news2Container img,
.news3Container img,
.news4Container img {
  width: 40%;
  height: 100%;
  border-radius: 16px;
}

.quoteContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7c0a02;
  width: 100%;
  height: 20vh;
}

.quote {
  font-size: 25px;
  color: #fcb66a;
  text-align: center;
}
