@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Fahkwang", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --normal-font: 14px;
  --big-font: 40px;
  --small-font: 12px;
}

.thammasat_Logo {
  width: 90px;
  height: 90px;
}

nav {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  padding: 0 50px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 5px -2px;
}

.logo_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a51931;
  z-index: 999999;
  height: 190%;
  padding: 5px 15px;
  margin-right: 10px;
}

.logo_SubContainer {
  /* border: 1px solid lightblue; */
  position: relative;
  top: 25px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo_SubContainer p {
  text-align: center;
  color: #ffffff;
}

.navMenu {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  list-style: none;
}

.menu1,
.menu2,
.menu3,
.menu4,
.menu5 {
  display: flex;
  flex-direction: column;
  position: relative;
}

.hasChild {
  font-size: 14px;
  text-decoration: none;
  color: #a51931;
  cursor: pointer;
  transition: color 0.3s ease;
}

.hasChild:hover {
  color: #680213;
}

.dropdownLink1,
.dropdownLink2,
.dropdownLink3,
.dropdownLink4 {
  width: max-content;
  list-style: none;
  display: none;
  position: absolute;
  top: 100%; /* Position below the menu */
  left: 0;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  z-index: 1000;
  /* transition: all 0.3s ease; */
  animation: fadeIn 0.5s ease-in-out;
}

.dropdownLink5 {
  width: 100%;
  list-style: none;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  z-index: 1000;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdownLink1 li,
.dropdownLink2 li,
.dropdownLink3 li,
.dropdownLink4 li,
.dropdownLink5 li {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdownLink1 li:hover,
.dropdownLink2 li:hover,
.dropdownLink3 li:hover,
.dropdownLink4 li:hover,
.dropdownLink5 li:hover {
  background-color: #fcb66a;
}

.dropdownLink1 li a,
.dropdownLink2 li a,
.dropdownLink3 li a,
.dropdownLink4 li a,
.dropdownLink5 li a {
  text-decoration: none;
  color: #000000;
  font-size: var(--small-font);
}

.language_Switcher {
  display: flex;
  gap: 5px;
  align-items: center;
}

.thLang,
.engLang {
  width: 30px;
  height: 100%;
  cursor: pointer;
  /* border: 1px solid darkblue; */
}

.hamburgerMenu,
.closeBtn {
  display: none;
}

.mainContent {
  display: flex;
}

.loginSide {
  width: 400px;
  flex-shrink: 0;
  height: 100vh;
  background: linear-gradient(#7c0a02 57%, #b22222 95%);
  display: flex;
  justify-content: center;
}

.login {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  height: max-content;
  /* border: 1px solid #000000; */
  position: absolute;
  top: 300px;
  gap: 10px;
}

.loginHeader {
  font-size: 25px;
  color: #fff4e0;
  margin-bottom: 20px;
}

.usernameForm,
.passwordForm {
  /* border: 1px solid #000000; */
  height: 55px;
  width: 300px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #fae3d7;
  margin-bottom: 10px;
}

.usernameForm i,
.passwordForm i {
  margin-left: 15px;
  font-size: 25px;
  color: #b22222;
}

.usernameForm input,
.passwordForm input {
  border-radius: 16px;
  height: 55px;
  width: 300px;
  border: none;
  padding-right: 10px;
  background-color: transparent;
}

.usernameForm input::placeholder,
.passwordForm input::placeholder {
  color: #1d1212;
}

.usernameForm input:focus,
.passwordForm input:focus {
  outline: none;
}

.loginChangePassBtn {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid #000000; */
  width: 300px;
  margin-bottom: 20px;
}

.loginbtn,
.changePassbtn {
  width: 145px;
  height: 45px;
  padding: 10px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.loginbtn {
  background-color: #ffc340;
}

.loginContactText {
  text-align: center;
  color: #fff4e0;
  font-size: var(--small-font);
}

.loginContactText span a {
  color: #f1bc31;
}

.pictureSide {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensure sliding stays within bounds */
  position: relative; /* For positioning images absolutely */
}

.pictureSide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute; /* Stack images on top of each other */
  transition: transform 0.5s ease-in-out; /* Smooth sliding effect */
}

.newsPage {
  padding: 70px 50px;
}

.newsTopSection {
  /* border: 1px solid black; */
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newsTopSection h1 {
  font-size: var(--big-font);
}

.moreNews {
  font-size: var(--normal-font);
  background-color: #ffc340;
  cursor: pointer;
  border: none;
  width: 100px;
  padding: 10px;
  border-radius: 100px;
  transition: all 0.3s ease;
  text-align: center;
}

.moreNews:hover {
  background-color: #ffae00;
}

.newsContents {
  display: flex;
  gap: 25px;
  width: 100%;
  /* border: 1px solid #000000; */
}

.newsLeftSide {
  flex: 1;
  /* border: 1px solid #000000; */
}

.newsRightSide {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
  /* border: 1px solid #000000; */
}

.newsLeftSide img {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 15px;
}

.news1Title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.news1Date {
  font-size: var(--small-font);
  color: #989797;
  margin-bottom: 15px;
}

.news1Content {
  font-size: var(--normal-font);
}

.news2Container,
.news3Container,
.news4Container {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 20px;
  /* border: 1px solid red; */
}

.news2Text,
.news3Text,
.news4Text {
  flex: 1;
}

a.news2Title,
a.news3Title,
a.news4Title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
  display: block;
  color: #000000;
  transition: color 0.3s ease;
  text-decoration: none;
}

.news2Title:hover,
.news3Title:hover,
.news4Title:hover {
  color: #a51931;
}

.news2Date,
.news3Date,
.news4Date {
  font-size: var(--small-font);
  color: #989797;
}

.news2Container img,
.news3Container img,
.news4Container img {
  width: 40%;
  height: 100%;
  border-radius: 16px;
}

.quoteContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7c0a02;
  width: 100%;
  height: 20vh;
}

.quote {
  font-size: 25px;
  color: #fcb66a;
  text-align: center;
}

/* Reference Page */
.referencePage {
  padding: 70px 50px;
}

.referencePageTitle {
  font-size: var(--big-font);
  margin-bottom: 40px;
}

.referencePageContents {
  display: flex;
  width: 100%;
  gap: 30px;
  /* border: 1px solid #000000; */
}

.referencePageLeftSide {
  /* border: 1px solid red; */
  flex: 1;
}

.announcement {
  /* border: 1px solid green; */
  width: 100%;
}

.announcementHeader,
.downloadHeader,
.userManualHeader,
.regulationAndRulesHeader {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}

.separateLine {
  height: 3px;
  width: 60%;
  margin-bottom: 20px;
  background-color: #d9d9d9;
}

.announementLinksContainer,
.downloadLinksContainer,
.userManualLinksContainer,
.regulationAndRulesLinksContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.announementLinksContainer,
.userManualLinksContainer {
  margin-bottom: 25px;
}

.announcementLink1,
.downloadLinksContainer a,
.userManualLinksContainer a,
.regulationAndRulesLinksContainer a {
  width: fit-content;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  transition: color 0.3s ease;
  /* border: 1px solid orange; */
}

.downloadLinksContainer a,
.userManualLinksContainer a,
.regulationAndRulesLinksContainer a {
  margin-bottom: 10px;
}

.downloadLinksContainer a:last-child,
.userManualLinksContainer a:last-child,
.regulationAndRulesLinksContainer a:last-child {
  margin-bottom: 0;
}

.announcementLink1:hover,
.downloadLinksContainer a:hover,
.userManualLinksContainer a:hover,
.regulationAndRulesLinksContainer a:hover {
  color: #f61138;
}

.referencePageRightSide {
  flex: 1;
}

.footer {
  padding: 70px 50px;
  background-color: #000000;
}

.universityName {
  color: #ffffff;
  font-size: 23px;
  margin-bottom: 25px;
}

.universityNameFirstWord {
  color: #ff274c;
}

.universityNameSecondWord {
  color: #fcb66a;
}

.campusLocationContainer {
  /* border: 1px solid #000000; */
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.rangsitCampus {
  /* border: 1px solid red; */
  flex: 1;
}

.rangsitCampusHeaderContainer,
.thaPrachanCampusHeaderContainer {
  /* border: 1px solid green; */
  width: fit-content;
  margin-bottom: 20px;
}

.rangsitCampusHeader,
.thaPrachanCampusHeader {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 10px;
}

.rangsitCampusLine,
.thaPrachanCampusLine {
  width: 60%;
  height: 3px;
  background-color: #ffffff;
}

.rangsitCampusLocation,
.thaPrachanCampusLocation {
  color: #ffffff;
  font-size: var(--normal-font);
  line-height: 1.5;
}

.thaPrachanCampus {
  /* border: 1px solid red; */
  flex: 1;
}

.socialMedia {
  margin-bottom: 20px;
}

.socialMedia a {
  /* border: 1px solid #000000; */
  color: #ffffff;
  font-size: var(--big-font);
  transition: color 0.3s ease;
  text-decoration: none;
  &:nth-child(-n + 2) {
    margin-right: 5px;
  }
}

.socialMedia a:hover {
  color: #ffc340;
}

.copyright {
  /* border: 1px solid #000000; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyrightContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /* border: 1px solid red; */
}

.universityLogo {
  width: 8%;
  height: 8%;
  /* border: 1px solid green; */
}

.copyrightText {
  color: #ffffff;
  font-size: var(--small-font);
}

@media (max-width: 1240px) {
  nav {
    justify-content: space-evenly;
    gap: 30px;
  }

  .navMenu {
    gap: 30px;
  }

  .hasChild {
    font-size: 12px;
  }
}

@media (max-width: 1095px) {
  /* NavigationBar */
  .thammasat_Logo {
    width: 80px;
    height: 80px;
  }

  .logo_Container {
    padding: 5px 10px;
    margin-right: 0px;
  }

  .logo_SubContainer p {
    font-size: 13px;
  }

  nav {
    padding: 0 20px 0 20px;
    justify-content: space-around;
  }

  .navMenu {
    gap: 20px;
  }

  .hasChild {
    font-size: 11px;
  }

  .dropdownLink1 li a,
  .dropdownLink2 li a,
  .dropdownLink3 li a,
  .dropdownLink4 li a,
  .dropdownLink5 li a {
    font-size: 11px;
  }
}

@media (max-width: 1000px) {
  /* newsPages */
  a.news2Title,
  a.news3Title,
  a.news4Title {
    font-size: 16px;
  }

  .newsRightSide {
    gap: 20px;
  }

  /* referencePage */
  .announcementLink1,
  .downloadLinksContainer a,
  .userManualLinksContainer a,
  .regulationAndRulesLinksContainer a {
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  nav {
    padding: 0 50px;
    justify-content: space-between;
  }

  .hamburgerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    /* border: 1px solid #000000; */
    transition: all 0.3s ease;
  }

  .hamburgerMenu:hover {
    background-color: #fcb66a;
  }

  .hamburgerMenu i {
    font-size: 30px;
  }

  /* Still have a problem */
  .showSideBar {
    transform: translateX(0);
  }

  .hideSideBar {
    transform: translateX(1000px);
  }

  .navMenu {
    transition: all 0.8s ease;
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    width: 40%;
    flex-direction: column;
    justify-content: start;
    z-index: 9999;
    padding: 20px;
    background-color: orange;
    overflow: scroll;
  }

  .dropdownLink1,
  .dropdownLink2,
  .dropdownLink3,
  .dropdownLink4,
  .dropdownLink5 {
    position: static;
    width: 100%;
    margin-top: 5px;
  }

  .hasChild {
    font-size: 16px;
  }

  .menu1 {
    margin-top: 40px;
  }

  .closeBtn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 30px;
    /* border: 1px solid lightsteelblue; */
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .closeBtn:hover {
    background-color: lightgrey;
  }

  .closeBtn i {
    font-size: 30px;
  }

  .loginSide {
    width: 40%;
  }

  .login {
    width: inherit;
    top: 300px;
    gap: 10px;
  }

  .loginHeader {
    font-size: 20px;
  }

  .usernameForm,
  .passwordForm {
    width: 80%;
  }

  .loginChangePassBtn {
    width: 80%;
    gap: 10px;
  }

  .loginbtn,
  .changePassbtn {
    font-size: var(--small-font);
  }
}

@media (max-width: 860px) {
  /* referencePage */
  .referencePage {
    padding: 50px;
  }

  /* newsPages */
  .newsPage {
    padding: 50px;
  }

  .footer {
    padding: 50px;
  }

  .news2Container img,
  .news3Container img,
  .news4Container img {
    width: 50%;
  }

  a.news2Title,
  a.news3Title,
  a.news4Title {
    font-size: 14px;
  }

  .news1Title {
    font-size: 18px;
  }

  .news1Content {
    font-size: 14px;
  }
}

@media (max-width: 810px) {
  .navMenu {
    width: 60%;
  }

  .newsContents {
    flex-direction: column;
  }

  .newsLeftSide {
    flex: 2;
  }

  .newsRightSide {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .news2Container,
  .news3Container,
  .news4Container {
    flex-direction: column;
  }

  .news2Container img,
  .news3Container img,
  .news4Container img {
    width: 100%;
    /* min-width: 150px; */
    height: min-content;
  }

  .news2Text,
  .news3Text,
  .news4Text {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
  }

  /* quote */
  .quote {
    font-size: 20px;
  }

  /* referencePage */
  .announcementLink1,
  .downloadLinksContainer a,
  .userManualLinksContainer a,
  .regulationAndRulesLinksContainer a {
    font-size: 12px;
  }

  .referencePageTitle {
    margin-bottom: 30px;
  }

  /* footer */
  .rangsitCampusHeader,
  .thaPrachanCampusHeader {
    color: #ffffff;
    font-size: 16x;
    margin-bottom: 10px;
  }

  .universityLogo {
    width: 15%;
    height: 15%;
    /* border: 1px solid green; */
  }
}

@media (max-width: 700px) {
  .login {
    top: 280px;
  }

  .loginbtn,
  .changePassbtn {
    font-size: 10px;
  }
}

@media (max-width: 640px) {
  .navMenu {
    width: 70%;
    z-index: 999999;
  }

  /* quote */
  .quoteContainer {
    height: 15vh;
  }

  /* quote */
  .quote {
    font-size: 16px;
  }

  /* referencePage */
  .referencePageContents {
    flex-direction: column;
  }

  .announcementLink1,
  .downloadLinksContainer a,
  .userManualLinksContainer a,
  .regulationAndRulesLinksContainer a {
    font-size: 16px;
  }

  /* footer */
  .campusLocationContainer {
    flex-direction: column;
  }

  .copyrightText {
    font-size: 10px;
  }

  .socialMedia a {
    font-size: 23px;
  }

  .loginSide {
    width: 100%;
  }

  .login {
    width: max-content;
  }
}

@media (max-width: 610px) {
  .newsRightSide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 1px solid #000000; */
  }

  .news2Text,
  .news3Text,
  .news4Text {
    justify-content: space-between;
  }
}

@media (max-width: 500px) {
  .newsRightSide {
    grid-template-columns: 1fr;
  }

  .news2Container,
  .news3Container,
  .news4Container {
    flex-direction: row;
  }

  .news2Container img,
  .news3Container img,
  .news4Container img {
    width: 50%;
    height: 100%;
  }

  /* quote */
  .quote {
    font-size: 14px;
  }

  /* referencePage */
  .announcementLink1,
  .downloadLinksContainer a,
  .userManualLinksContainer a,
  .regulationAndRulesLinksContainer a {
    font-size: 14px;
  }
}

@media (max-width: 430px) {
  .news2Container,
  .news3Container,
  .news4Container {
    flex-direction: column;
  }

  .news2Container img,
  .news3Container img,
  .news4Container img {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .login {
    width: inherit;
  }
}

@media (max-width: 370px) {
  .navMenu {
    width: 100%;
  }
}
